<form {{action 'saveIssue' issue on='submit'}}>
  <div class="form-group">
    {{input value=issue.title placeholder='Title' class="form-control"}}
  </div>
  <button>Save Issue</button> <a href="" {{action 'cancel'}}>cancel</a>
</form>