<p>{{#link-to 'repo-show.milestone-new'}}+ Create milestone{{/link-to}}</p>
{{#each milestones as |milestone|}}
  <div class="issue">
    {{#link-to 'repo-show.milestone-show.milestone-issues' milestone.id}}{{milestone.title}}{{/link-to}} {{#link-to 'repo-show.milestone-update' milestone.id}}edit{{/link-to}}
  </div>
{{/each}}