<h2>New Milestone</h2>
<form {{action 'saveMilestone' model on="submit"}}>
  {{input value=model.title placeholder="Title"}}
  <button>Create Milestone</button> <a href="" {{action 'cancel'}}>cancel</a>
</form>