<div class="container">
  <header>
    <div class="title">Github Issues</div>
    {{#if session.isAuthenticated}}
      <a href="" {{ action 'invalidateSession' }}>Logout</a>
    {{/if}}
  </header>
  {{outlet}}
</div>